   *,*:after,*:before {
     box-sizing:border-box;
     -moz-box-sizing:border-box;
     -webkit-box-sizing:border-box;
   }

   .cf:before,
   .cf:after {
       content:"";
       display:table;
   }
   .cf:after {
       clear:both;
   }

   body {
     background: #DFE4CD;
     color: #fff;
   }

   a,a:visited {
     color:#fff
   }

   h1 {
       color: #293340;
       text-align: center;
       font: 60px/20px 'HelveticaNeue', Helvetica, Arial, sans-serif;
   }
